<center>
<big>Lab A: Using Python as a Calculator</big><br>
mybinder.org/v2/gh/anniebmcc/pycalclab/master <br>
2020 Summer — Calculus 1<br>
Dr Matthew H Sunderland<br>
</center>


### Jupyter Notebooks
A1. **RUN** the following "code cell" (gray rectangle with **<font style="font-family:'Courier New';color:blue">In[ ]</font>** next to it), by CLICKING the code cell and pressing SHIFT+RETURN. Notice that only the last result will display.

In [ ]:
1 + 2 + 3
50 - 3
100*5

A2. **RUN** the following.
As always, only the last result displays,
but the last result has 2 parts because of the comma.

In [ ]:
1 + 2 + 3
50 - 3, 1000*1000
100*5, 7*7

A3. The "+" on the toolbar adds a code cell.
The "scissors" deletes a cell.

### Python arithmetic `+` `-` `*` `/` `**`

A4. **RUN** the following.

In [ ]:
3 + 10*5,  5**2,  27/10

A5. **EXERCISE.**  
a) What does each of the 5 arithmetic operations do?  
b) Do spaces around the 5 operations matter, or is it just style?

In [ ]:
# TYPE YOUR ANSWERS BELOW
#
#  a) + is   
#     - is   
#     * is   
#     / is   
#    ** is   
#
#  b)

### Python `#` and `=`

A6. **RUN** the following. You will notice python ignores everything after `#`

In [ ]:
# This is a comment
1 + 1 # This is also a comment

A7. **RUN** the following.
Notice we assign variables using `=`
Assignment itself does NOT produce output.

In [ ]:
a = 10
a

In [ ]:
b = 20

In [ ]:
a = 18
b = 21
c = a - b
c

A8. **RUN** the following. Notice you can assign multiple variables at once with a comma.

In [ ]:
x, y = 100, 500
x

In [ ]:
a,b,c = 3,4,5
a + b/c

A9. **RUN** the following.
See that we can compute $(2 - 3)*-3 \over -1 + 2$ all at once (1st cell below),
or we can assign variables to help us (2nd cell below).

In [ ]:
(2 - 3)*-3/(-1 + 2)

In [ ]:
top = (2 - 3)*-3
bottom = -1 + 2
top/bottom

A10. **EXERCISE.** Assign variables to help you compute $3 - \frac{3^2 - 2\cdot3}{2\cdot3 - 2}$

In [ ]:
# Type your answer below and press SHIFT+ENTER

### Order of Operations

A11. **RUN** the following. Notice $a-b*c = a-(b*c)$, but they do not equal $(a-b)*c$.

In [ ]:
a,b,c = 3,4,5

a - b*c,  a - (b*c),  (a - b)*c

A12. **EXERCISE.** In each row, identify NON-equivalent choice. For example, the answer to (1) is $(a - b)*c$ because $a - b*c = a - (b*c)$

$\begin{aligned}
  (1) &&& a - b*c   && a - (b*c) && (a - b)*c \\
  (2) &&& a*(b - c) && (a*b) - c && a*b - c \\
  (3) &&& a\,/\,b + c   && a\,/\,(b + c) && (a\,/\,b) + c \\
  (4) &&& (a + b)\,/\,c && a + (b\,/\,c) && a + b\,/\,c \\
  (5) &&& a *\!\!*\, (b*c) && (a *\!\!*\, b)*c && a *\!\!*\, b*c\\
  (6) &&& a*(b *\!\!*\, c) && a*b *\!\!*\, c && (a*b) *\!\!*\, c\\
  (7) &&& a/b *\!\!*\, c && (a/b) *\!\!*\, c && a/(b *\!\!*\, c)\\
  (8) &&& a *\!\!*\, b/c && (a *\!\!*\, b)/c && a *\!\!*\, (b/c)\\
  (9) &&& (3 − 3) − 3 && 3 − 3 − 3 && 3 − (3 − 3)\\
  (10) &&& (2 *\!\!*\, 3) *\!\!*\, 2 && 2 *\!\!*\, (3 *\!\!*\, 2) && 2 *\!\!*\, 3 *\!\!*\, 2\\
  (11) &&& 6\,/\,3\,/\,2 && 6\,/\,(3\,/\,2) && (6\,/\,3)\,/\,2\\
\end{aligned}$

In [ ]:
# TYPE YOUR ANSWERS BELOW.
#
#  (1)   (a - b)*c 
#  (2)   
#  (3)   
#  (4)   
#  (5)   
#  (6)   
#  (7)   
#  (8)   
#  (9)   
# (10)   
# (11)

A13. **RUN** the following example,
where we add 2 sets of parentheses which show the order of the 2 operations.

In [ ]:
1 + 3/5

In [ ]:
(1 + (3/5))

A14. **EXERCISE.**
Add 4 sets of parentheses, which show the order of the 4 operations.

In [ ]:
7 - 3 ** 2/9 + 4

In [ ]:
# Type your answer below and press SHIFT+ENTER

A15. **EXERCISE.**
Assign `a,b,c = 4,5,8` and then evaluate
$\displaystyle \frac{a^b - c/b}{c - a}, \frac{a^{c - b}}{c - b}, \frac{a^{3/2}}b, \frac{a - b(c - a)}{c - a}$

In [ ]:
# Type your answer below and press SHIFT+ENTER

### Making python functions
A16. **RUN** the following.

In [ ]:
def g(x):
    return x**2

g(7)

In [ ]:
def h(n): return n + 100

h(7)

A17. **EXERCISE.** Make the function $P(x) = x^2 - 2x + 1$ and find $P(P(7))$.

In [ ]:
# Type your answer below and press SHIFT+ENTER

### Built-in `%pylab` functions

| Python      | Math notation | Meaning |
| ---         | ---           | ---     |
| `abs(x)`    | $\mid x\mid$  | absolute value
| `sqrt(x)`   | $\sqrt x$     | square root
| `exp(x)`    | $e^x$         | exponential function
| `log(x)`    | $\ln x$       | natural logarithm
| `sin(x)`    | $\sin x$      | sine
| `arcsin(x)` | $\sin^{-1}x$  | inverse sine
| `radians(x)`|               | converts degrees to radians

A18. <a id='A17'></a> **RUN** the code cells below.
The command `%pylab` only needs to be run once per lab;
it loads "built-in functions"
(from python packages numpy and matplotlib).

<!--
_(Specifically it loads functions from_  
_the numpy math package and the matplotlib graphing package._  
_These packages come included when you install Python from_  
_http://www.anaconda.com/products/individual )_
-->

In [ ]:
%pylab

sqrt(49)

In [ ]:
pi, exp(1), sin(pi/2)

A19. **EXERCISE.** Evaluate
1. $\sin 40^\circ$
1. $\sin^2 65^\circ$
1. $e^{(10 - 8.5)/3}$
1. $\arcsin(\sin(3\pi/4))$

Note. Python uses radians for all angle measurements,
so you need to convert any degrees to radians.

In [ ]:
# Type your answer below and press SHIFT+ENTER

### Making an array with `r_[ ]`

A20. **RUN** the following.
(If you get an error, go back and run [A17](#A17).)
The function `r_[ ]` can make an array of numbers of your choice.
We will need arrays for graphing (Lab B).

In [ ]:
x = r_[2,3,4,5,10]
x**3

A21. **EXERCISE.** Use `r_[ ]` to store the numbers 2,3,5,7,11 in an array named `x`. Find `x*x`.

In [ ]:
# Type your answer below and press SHIFT+ENTER

### Making an array with `r_[a:b:stride]`

A22. **RUN** the following.
In general, `r_[a:b]` will list integers from $a$ up to but _not_ including $b$.
A missing $a$ is the same as 0.

In [ ]:
r_[5:10]

In [ ]:
r_[:5]

A23. **EXERCISE.** Use `r_[a:b]` to make the array 1,2,3,4,5,6,7,8,9

In [ ]:
# Type your answer below and press SHIFT+ENTER

A24. **RUN** the following. In general, `r_[a:b:stride]` spaces out your numbers by the amount `stride`.

In [ ]:
r_[0:100:2]

A25. **EXERCISE.** Use `r_[a:b:stride]` to make the array $1,3,5,\dots,99$

In [ ]:
# Type your answer below and press SHIFT+ENTER

### Making an array with `linspace(a,b,n)`

A26. **RUN** the following.
Observe that `linspace(a,b,n)` lists n numbers from a to b inclusive.
This is useful for generating a lot of evenly-spaced numbers, such as when graphing (Lab B).
Observe that `linspace(a,b)` lists 50 numbers from a to b inclusive.

In [ ]:
linspace(0,10,6)

In [ ]:
linspace(0,10)

A27. **EXERCISE.** Use `linspace(a,b,n)` to make the array $1,1.5,2,2.5,3,3.5,4$

In [ ]:
# Type your answer below and press SHIFT+ENTER

A28. **EXERCISE.**  
Convert average body temperature $98.6^\circ F$ to Celsius using $C = 5/9(F - 32)$.

In [ ]:
# Type your answer below and press SHIFT+ENTER

A29. **RUN** the following.  
Notice that `x` and `y` are arrays,  
`c_[x,y]` puts them into a table.

In [ ]:
x = r_[:10]
y = x**2
c_[x,y]

A30. **EXERCISE.**  
Use `r_` to make an array of Fahrenheit values `x` = $-100,-80,-60,\dots,100$.  
Make the corresponding array of Celsius values `y`  
Use `c_` to put `x` and `y` into a table.

In [ ]:
# Type your answer below and press SHIFT+ENTER